/* Default (un-hover) state */
.hover-button {
    height: 2rem;
    width: 47%;
    z-index: 1;
    color: rgba(0,0,0,1);
    background-color: rgb(115, 177, 232, 0.15);
    border: none;
    cursor: pointer;
    outline: none; /* Prevents the focus ring on click */
    padding: 1px;
    margin: 1px;
}

/* Hover state */
.hover-button:hover {
    color: rgba(0, 0, 0, 0.9); /* Semi-transparent black text */
    background-color: rgba(115, 177, 232, 0.5); /* Semi-transparent blue background */
}

/* Focus state (to further ensure outline is removed) */
.hover-button:focus {
    outline: none;
}